*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(147, 201, 240);
}

main{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    width:60%;
    margin:auto;
    margin-top: 100px;
    
}

.input-slider{
    width: 90%;
}

h1{
    background-color: rgb(56, 56, 225);
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}

.input-section p, .output-section p{
    padding: 5px;
    width:100%;
}

.input-section{
    width:200px;
}

.output-bmi{
    padding: 5px;
    border: 2px solid rgb(20, 20, 132);
    border-radius: 20px;
    background-color: rgb(10, 10, 148);
    color: white;
    margin-bottom: 10px;
}


